<!--divisas.html-->
{%  extends "base.html" %}

{% block content %}
    <h1>Calculadora Divisas</h1>
    <p>Ingresa datos numéricos</p>
    <form action="/divisas" method="POST">

        <div class="row">
            <div class="col-md-12">
                <input type="number" class="form-control" name="divisas" placeholder="Ingresar valor (COP)" aria-label="Ingresar valor (COP)" required>

            </div>
            
        </div>
        <div class="row py-3">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-info">Calcular</button>
            </div>
        </div>
    </form>

    <div class="row py-2">
        <div class="col">
            <h3>En Dolares es: {{total_dolares}}</h3>
            <h3>En Euros es: {{total_euros}}</h3>
            <h3>En Yen (japón) es: {{total_yen}}</h3>
            <h3>En Pesos (México) es: {{total_pesom}}</h3>
        </div>
    </div>
{% endblock %}